In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('project_chart6_personnel_input.csv')
print("Original Jahre:", df['year'].tolist())

Original Jahre: [2024, 2029, 2034, 2039, 2044, 2049]

In [11]:
# Interpolation
all_years = pd.DataFrame({'year': range(2024, 2050)})
df_full = all_years.merge(df, on='year', how='left')
numeric_cols = ['total_demand', 'supply_trend', 'supply_sq', 'difference_trend', 'difference_sq']

In [12]:
for col in numeric_cols:
    df_full[col] = df_full[col].interpolate(method='linear')

print(df_full.head(10))
print(f"\nnumber of years {len(df_full)}")

   year  total_demand  supply_trend  supply_sq  difference_trend  \
0  2024         1.690         1.690      1.690             0.000
1  2025         1.706         1.694      1.654             0.012
2  2026         1.722         1.698      1.618             0.024
3  2027         1.738         1.702      1.582             0.036
4  2028         1.754         1.706      1.546             0.048
5  2029         1.770         1.710      1.510             0.060
6  2030         1.782         1.716      1.504             0.066
7  2031         1.794         1.722      1.498             0.072
8  2032         1.806         1.728      1.492             0.078
9  2033         1.818         1.734      1.486             0.084

   difference_sq
0          0.000
1          0.052
2          0.104
3          0.156
4          0.208
5          0.260
6          0.278
7          0.296
8          0.314
9          0.332

number of years 26

In [13]:
df_full.to_csv('project_chart6_personnel.csv', index=False, encoding='utf-8')