In [3]:
import requests
import json
import pandas as pd

In [4]:
# Fetch data from Eurostat API
url = "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/tps00103?format=JSON&geoLevel=country&time=2012&time=2013&time=2014&time=2015&time=2016&time=2017&time=2018&time=2019&time=2020&time=2021&time=2022&time=2023"

response = requests.get(url)
data = response.json()

In [6]:
# Extract dimensions and values
values = data['value']
geo_dim = data['dimension']['geo']['category']
time_dim = data['dimension']['time']['category']

In [7]:
geo_codes = list(geo_dim['index'].keys())
time_codes = list(time_dim['index'].keys())
geo_labels = geo_dim['label']
num_years = len(time_codes)

In [8]:
# Transform to flat structure
transformed_data = []

for key, value in values.items():
    index = int(key)
    geo_idx = index // num_years
    time_idx = index % num_years

    geo_code = geo_codes[geo_idx]
    year = int(time_codes[time_idx])

    transformed_data.append({
        'geo': geo_code,
        'country': geo_labels.get(geo_code, geo_code),
        'year': year,
        'value': value
    })

# Create DataFrame
df = pd.DataFrame(transformed_data)

In [9]:
# Display first few rows
print(df.head(20))
print(f"\nTotal records: {len(df)}")
print(f"\nCountries: {df['geo'].nunique()}")
print(f"Years: {sorted(df['year'].unique())}")

# Save to CSV
df.to_csv('eurostat_pension_data.csv', index=False)
print("\nData saved to 'eurostat_pension_data.csv'")

# Save to JSON
df.to_json('eurostat_pension_data.json', orient='records', indent=2)
print("Data saved to 'eurostat_pension_data.json'")

# Optional: Create a pivot table for easier viewing
pivot_df = df.pivot(index='geo', columns='year', values='value')
print("\nPivot table (first 10 countries):")
print(pivot_df.head(10))

   geo                 country  year  value
0   AL                 Albania  2018   6.33
1   AL                 Albania  2019   6.50
2   AL                 Albania  2020   6.80
3   AL                 Albania  2021   6.72
4   AL                 Albania  2022   6.10
5   AT                 Austria  2012  14.50
6   AT                 Austria  2013  14.82
7   AT                 Austria  2014  14.90
8   AT                 Austria  2015  14.66
9   AT                 Austria  2016  14.36
10  AT                 Austria  2017  14.17
11  AT                 Austria  2018  14.01
12  AT                 Austria  2019  14.12
13  AT                 Austria  2020  15.38
14  AT                 Austria  2021  14.98
15  AT                 Austria  2022  14.19
16  AT                 Austria  2023  14.44
17  BA  Bosnia and Herzegovina  2013   9.61
18  BA  Bosnia and Herzegovina  2014   9.97
19  BA  Bosnia and Herzegovina  2015   9.70

Total records: 418

Countries: 37
Years: [np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023)]

Data saved to 'eurostat_pension_data.csv'
Data saved to 'eurostat_pension_data.json'

Pivot table (first 10 countries):
year   2012   2013   2014   2015   2016   2017   2018   2019   2020   2021  \
geo
AL      NaN    NaN    NaN    NaN    NaN    NaN   6.33   6.50   6.80   6.72
AT    14.50  14.82  14.90  14.66  14.36  14.17  14.01  14.12  15.38  14.98
BA      NaN   9.61   9.97   9.70   9.49   9.17   9.12   9.23   9.88   9.06
BE    11.88  12.24  12.27  12.52  12.38  12.49  12.59  12.58  13.53  12.67
BG     8.02   8.58   8.73   8.53   8.31   7.99   7.87   7.52   8.06   7.75
CH    11.26  11.33  11.42  11.61  11.65  11.77  11.56  11.71  12.27  11.74
CY     8.14   9.31  10.01  10.06   9.76   9.34   9.02   8.67   9.30   8.50
CZ     9.20   9.18   8.84   8.54   8.32   8.04   7.97   8.17   9.10   8.63
DE    11.66  11.59  11.56  11.64  11.69  11.59  11.63  11.81  12.57  12.10
DK    12.75  13.66  13.98  13.51  12.63  12.62  12.56  12.69  12.85  11.74

year   2022   2023
geo
AL     6.10    NaN
AT    14.19  14.44
BA     8.46   9.60
BE    12.61  12.81
BG     8.38   9.48
CH    11.00  11.18
CY     7.85   7.58
CZ     8.55   9.17
DE    11.58  11.48
DK    10.96  11.50